@media (max-width: 375px) {
    .toggle-text,

    .btn--new,
    .btn--set-points {
        display: none;
    }


    body {
        align-items: flex-start;
    }

    main {
        top: 4.5rem;
        flex-direction: column;
        height: 80vh;
        width: 85vw;
        overflow: unset;
        border-radius: 20px;
    }

    .theme-switch-wrapper {
        top: 10px;
        right: 5px;
    }

    .theme-switch {
        display: inline-block;
        height: 28px;
        position: relative;
        width: 60px;
      }
      
      .theme-switch input {
        display: none;
      }
      
      .slider {
        background: #ccc;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: 0.4s;
      }
      
      .slider::before {
        background: #fff;
        bottom: 2px;
        content: "";
        height: 20px;
        left: 4px;
        position: absolute;
        transition: 0.4s;
        width: 20px;
        top: 4px;
      }

      input:checked + .slider::before {
        transform: translateX(32px);
      }

    .fas {
        font-size: 20px;
    }

    .player {
        height: 50%;
        padding: 1rem;
        justify-content: flex-end;
        flex-direction: column-reverse;
    }

    .player:nth-child(2) {
        flex-direction: column;
    }

    .player--0 {
        border-radius: 20px 20px 0 0;
    }

    .player--1 {
        border-radius: 0 0 20px 20px;
    }

    .name {
        font-size: 3.5rem;
    }

    .current {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }

    .current-label {
        margin-bottom: 0;
        font-weight: bold;
    }

    .current-score {
        font-size: 2.5rem;
        font-weight: bold;
        margin: 0 2rem;
    }

    .btn--roll {
        top: 103%;
        left: 25%;
        width: 45%;
        box-shadow: 1px 2px 10px 0 rgba(255, 255, 255, 0.2);
    }

    .btn--hold {
        top: 103%;
        left: 75%;
        width: 45%;
        box-shadow: 1px 2px 10px 0 rgba(255, 255, 255, 0.2);

    }

    .score {
        margin-bottom: 0;
    }

    .dice {
        top: 44%;
        height: 6.5rem;
    }

    .top-nav {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: var(--text-color);
        height: 45px;
        padding: 1em;
        background: transparent;
    }

    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu>li {
        margin: 0 3rem;
        overflow: hidden;
    }

    .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle {
        display: none;
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: var(--text-color);
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 100ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }

    .menu-button::before {
        content: '';
        margin-top: -8px;
    }

    .menu-button::after {
        content: '';
        margin-top: 8px;
    }

    #menu-toggle:checked+.menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
    }

    #menu-toggle:checked+.menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
    }

    #menu-toggle:checked+.menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
    }

    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 45px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 10;
        border-radius: 0 0 20px 20px !important;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: 1px thin var(--primary-color);
        height: 15rem;
        padding: 0.5em;
        transition: height 500ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu > li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        height: auto;
        width: 100%;
        color: var(--text-color);
        font-weight: bold;
        background-color: var(--primary-color);
    }

    .menu>li:last-child {
        border-radius: 0 0 16px 16px !important;
    }


    .instructions {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .instructions:last-child(){
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .multiline{
        text-align: center;
    }

    .cta-holder{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .max-score-btn{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        height: 60%;
        padding: 5px;
    }

    .max-score-btn input {
        width: 65%;
        padding: 5px 10px;
        font-size: 2rem;
        margin-bottom: 15px;
        text-align: center;
        border-radius: 10px;
    }

    .btn--set-score-mobile {
        color: var(--text-color);
        background: none;
        border: none;
        font-family: inherit;
        font-size: 1.5rem;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.2s;

        background-color: var(--primary-color) !important;
        backdrop-filter: blur(10px);
    
        padding: 0.7rem 2.5rem;
        border-radius: 25rem;
        box-shadow: 1px 2px 10px 0 rgba(255, 255, 255, 0.2);
    
        width: 22rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 16rem;
    }

}