@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
	--primary-color: rgb(244, 124, 124);
	--secondary-color: rgb(239, 159, 159);
	--third-color: rgb(250,212, 212);
	--fourth-color: rgb(255, 242, 242);
	--text-color: #000;
	--on-background: rgba(66, 66, 66, .15);
	--box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.4);
	--player-active: rgba(255, 255, 255, 0.4);
	--current: rgba(238, 27, 27, 0.6);
  }
  
  [data-theme="dark"] {
	--primary-color: rgb(55, 27, 88);
	--secondary-color: rgb(76, 53, 117);
	--third-color: rgb(91,75,138);
	--fourth-color: rgb(141, 110, 184);
	--text-color: #fff;
	--on-background: rgba(255, 255, 255, 0.11);
	--player-active: rgba(255, 255, 255, 0.4);
	--current: rgba(67, 6, 95, 0.6);

  }

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-family: "Nunito", sans-serif;
	font-weight: 400;
	height: 100vh;
	color: var(--text-color);
	background: linear-gradient(to top left, var(--primary-color) 10%, var(--secondary-color) 40%, var(--third-color) 60%, var(--fourth-color) 85%);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem;
}

/* layout */
main {
	position: relative;
	width: 100rem;
	height: 60rem;
	backdrop-filter: blur(200px);
	filter: blur();
	box-shadow: var(--box-shadow);
	border-radius: 9px;
	overflow: hidden;
	display: flex;
}

.player {
	flex: 50%;
	padding: 9rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.75s;
}

/* elements */

.name {
	position: relative;
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 2px;
	font-weight: 300;
	margin-bottom: 1rem;
}

.score {
	font-size: 8rem;
	font-weight: 300;
	color: var(--current);
	margin-bottom: auto;
}

.player--active {
	background-color: var(--player-active)
}
.player--active .name {
	font-weight: 700;
}
.player--active .score {
	font-weight: 400;
}

.player--active .current {
	opacity: 1;
}

.current {
	background-color: var(--current);
	opacity: 0.8;
	border-radius: 9px;
	color: var(--text-color);
	width: 65%;
	padding: 2rem;
	text-align: center;
	transition: all 0.75s;
}

.current-label {
	text-transform: uppercase;
	margin-bottom: 1rem;
	font-size: 1.7rem;
	color: var(--text-color);
}

.current-score {
	font-size: 3.5rem;
}

/* absolute position elements */

.btn {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	color: var(--text-color);
	background: none;
	border: none;
	font-family: inherit;
	font-size: 1.8rem;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 400;
	transition: all 0.2s;

	background-color: var(--primary-color) !important;
	backdrop-filter: blur(10px);

	padding: 0.7rem 2.5rem;
	border-radius: 50rem;
	box-shadow: var(--box-shadow);

	width: 18.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5rem;
}

.btn::first-letter {
	font-size: 2.4rem;
	display: inline-block;
	margin-right: 0.7rem;
}

.btn.btn--new {
	background-color: var(--primary-color) !important;
	color: var(--text-color) !important;
	top: 4rem;
	font-weight: bold;
}

.btn--roll {
	top: 33.5rem;
}
.btn--hold {
	top: 41rem;
}

.btn--set-points {
	top: 53rem;
	width: 30rem !important;
	height: auto;
}

.btn:active {
	transform: translate(-50%, 3px);
	box-shadow: 0 1rem 2rem var(--box-shadow);
}

.btn:focus {
	outline: none;
}

.dice {
	position: absolute;
	left: 50%;
	top: 16.5rem;
	transform: translateX(-50%);
	height: 10rem;
	box-shadow: var(--box-shadow);
}
.player--winner {
	/* background-color: var(--on-background); */
	background-color: var(--fourth-color);
	color: var(--text-color);
}

.player--winner .name {
	font-weight: 700;
	color: var(--primary-color);
}

.hidden {
	display: none;
}

.btn-disabled {
	background-color: var(--on-background) !important;
	box-shadow: none;
}


/* theme switcher */

.theme-switch-wrapper {
	display: flex;
	align-items: center;
	z-index: 100;
	position: fixed;
	right: 25px;
	top: 30px;
  }

  .theme-switch-wrapper span {
	margin-right: 10px;
	font-size: 1rem;
  }
  
  .toggle-text {
	font-size: 2rem !important;
	position: relative;
	top: -4px;
	right: 5px;
	color: var(--text-color);
  }
  
  .theme-switch {
	display: inline-block;
	height: 34px;
	position: relative;
	width: 60px;
  }
  
  .theme-switch input {
	display: none;
  }
  
  .slider {
	background: #ccc;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: 0.4s;
  }
  
  .slider::before {
	background: #fff;
	bottom: 4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: 0.4s;
	width: 26px;
  }
  
  input:checked + .slider {
	background: var(--primary-color);
  }
  
  input:checked + .slider::before {
	transform: translateX(26px);
  }
  
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round::before {
	border-radius: 50%;
  }
  
  .fas {
	font-size: 30px;
	margin-right: 5px;
  }
